asgiref==3.9.1
distlib==0.4.0
filelock==3.19.1
pillow==11.3.0
platformdirs==4.4.0
sqlparse==0.5.3
tzdata==2025.2
virtualenv==20.34.0

Django==4.2.26
django-allauth==0.54.0
dj-database-url>=2.0,<3.0
django-filter>=23.0,<24.0